body{
	background-color: #F7F4F3;
	justify-content: center;
	align-items: center;
	margin:0;
	display:flex;
	flex-direction:column;
}
.main-header{
	background-image: linear-gradient(100deg, #16697A, #092D34);
	width:100%;
	height:30%;
	display: box;
}
#title {
	color: #F2F7F8;
	text-shadow: 1px 1px 4px  #00000040;
	padding:0.9em;
	font-style: italic;
	width: auto;
	margin:0; /*obbligatorio altrimenti fa fastidioso spazietto sopra*/
}
/*INDEX*/
.container{
	position:relative;
	margin:2%;
	width:80%;
	min-width:800px;
	min-height:650px;
		box-shadow:  9px 9px 10px #8EA5A9,
             	-8px -8px 10px #C5E8EC;
}
.login, .register{
	position:absolute;
	margin:15px;
	top:5%; /*sposta il lato a sx di tot rispetto al suo antenato*/	
}

.login{ left: 10%; 	width:40%;}
.register{ right: 10%; 	width:30%;}

.login form { background-color: #A9D3DB; }
.register form { background-color: #489FB5; }

.login h2{ margin-block-end:0; }
.login h3{ padding: 0; margin:0;}

.indexForm {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding:0.7em;
      padding-left: 20px;
   	  background-color: transparent;
      box-shadow: 0px 5px 10px #00000040;
 }
.indexForm label{
	color:#FFFFFF;
	font-family: "Lucida Console", monospace;
	padding:5px;
}
.indexForm input.submit{
	padding: 3px;
	border-radius: 15px;
	border: 2px solid #E08300;
	background: #FFA62B;
	color: #000000;
	font-size: 10pt;
	font-weight: bold;
	width: 35%;
	margin:10px;
}
.indexForm input.submit:hover{
	box-shadow:  4px 4px 10px #312521,
             	-2px -2px 10px #EFE9E7;
}
input.text{
  font-size: 75%;
  padding: 0.8em;
  border: 2px solid #19778A;
  background-color: #EFE9E7;
  border-radius: 7px;
  width: 80%;
}
input.text:hover {
	box-shadow: 4px 4px 7px #0D3C45 ;
}

/*PAGINA UTENTE*/
#subtitle{
	font-size: 15px;
	color: #FFFFFF;
}
.userMenu{
	position: absolute;
	display: flex;
	flex-direction:column;
   	height: 100%;
   	width:25%;
   	align-items: center;
   	background: #EFE9E7;
	box-shadow:  7px 7px 15px #c9c4c2,
             -5px -5px 10px #ffffff;
}
.userBtn{
	padding: 1em 2em;
  	font-weight: bold;
  	background-color: #B8D4D8;
  	font-size: 15px;
  	position: relative;
  	color: #092D34;
  	border-radius: 20px;
	background: linear-gradient(145deg, #c5e3e7, #a6bfc2);
	box-shadow:  7px 7px 10px #a0b8bc,
             	-7px -7px 10px #d0f0f4;
    border: 2px solid #B0CFD4;
    display: block;
    margin: 20px;
}
.userBtn:hover {
	box-shadow:  9px 9px 10px #8EA5A9,
             	-8px -8px 10px #C5E8EC;
}