#title {
	background-color: #004B52;
	color: #e4f7f9;
	text-shadow: 1px 1px 4px  #7c8686;
	padding:0.9em 25px;
	font-style: italic;
	display: box;
}
form {
      display: flex;
      flex-direction: column;
      width: 30%;
      padding:0.7em 20px;
      background-color: #d2e9ea;
    }
form label{
	color:#002529;
	font-family: "Lucida Console", monospace;
}
form input.submit{
	padding: -3px;
	border-radius: 8px;
	background-color: #68B6B0;
	box-shadow: 2px 3px 5px #a19693 ;
	color: #000000;
	font-size: 10pt;
	width: 75px;
	margin:10px;
}
form input.text{
	
}